---
import Header from "../layouts/common/Header.astro";
import Footer from "../layouts/common/Footer.astro";
// import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  image?: string;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, image = "assets/logo/logo.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="assets/logo/logo.png" />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
  </head>
  <body>
    <!-- <div
      class="top-0 z-40 flex-none mx-auto w-full border-b bg-gray-100 transition-[opacity] ease-in-out"
    >
      <a href="/" class="px-4">Hello, world. Learn how to code</a>
    </div> -->
    <!--Nav-->
    <Header />
    <!-- <ViewTransitions /> -->
    <!--Hero-->
    <slot />
    <!--Footer-->
    <Footer />
    <!-- <script defer src="assets/template.js"></script> -->
  </body>
</html>
